@media (width <= 768px){
    .hide{
        display: none;
    }
    .toggel-btn{
        display: inline-block;
    }

    /* ----------Sectioin 01------------- */
    .section-1{
        justify-content: center;
        flex-direction:column-reverse;
        height: 120vh;
        row-gap: 70px;
    }

    .sec-1_col-1{
        flex-basis: 35%;
        padding: 70px 50px;
    }

    .sec-1_col-2{
        margin-top: 8vh;
        width: 100%;
        flex-basis: 30%;
    }
}
