@media (width <= 768px) {
  .hide {
    display: none;
  }
  .toggel_btn {
    position: relative;
    display: flex;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
  .toggel_btn::after {
    content: "";
    width: 25px;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 4px;
    top: 15px;
  }
  .toggel_btn::before {
    content: "";
    width: 25px;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 4px;
    bottom: 12px;
    box-shadow: 0 -5px 0 black;
  }

  /* ----------Sectioin 01------------- */
  .section-1 {
    justify-content: center;
    flex-direction: column-reverse;
    height: 1000px;
    row-gap: 70px;
  }

  .sec-1_col-1 {
    height: 40%;
    width: 100%;
    padding: 70px 40px;
  }

  .sec-1_col-2 {
    margin-top: 8vh;
    width: 100%;
    height: 40%;
  }
  /* ------------------------------------ */
  .section-2 {
    justify-content: center;
    flex-direction: column;
    height: 1000px;
    row-gap: 70px;
  }

  .sec-2_col-1 {
    height: 40%;
    width: 100%;
    padding: 70px 40px;
  }
  .sec-2_col-2 {
    margin-top: 8vh;
    width: 100%;
    height: 40%;
  }

  /* -------------------------------------------- */

  .section-3 {
    height: 1000px;
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 10%; */
  }

  .sec-3_col-1 {
    width: 100%;
    height: 40%;
  }
  .sec-3_col-2 {
    width: 100%;
    height: 40%;
  }
}

/* -----sidenav-------- */
.side_nav {
  position: fixed;
  top: 50px;
  right: 20px;
  width: 200px;
  height: 500px;
  border-radius: 30px;
  background-color: white;
  z-index: 9090909;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.08);
  transform: translateX(100%);
}
.side_nav .ul {
  width: 280px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.active {
  transform: translateX(0%);
}
.times {
  background-color: transparent;
  width: 10px;
  height: 10px;
  outline: none;
  border: none;
  color: grey;
  font-size: 25px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.4);
  margin-bottom: 50px;
}
