@media (width <= 600px){
    .hide{
        display: none;
    }
    .toggel-btn{
        display: inline-block;
    }

    /* ----------Sectioin 01------------- */
    .section-1{
        justify-content: center;
        flex-direction:column-reverse;
        height: 1000px;
        row-gap: 70px;
    }

    .sec-1_col-1{
        flex-basis: 35%;
        padding: 70px 40px;
    }

    .sec-1_col-2{
        margin-top: 8vh;
        width: 400px;
        height: 400px;
    }
}
